<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 세부내역</title>
</head>
<body>
<h1>프로젝트 세부내역</h1>
<div>
    <p><strong>프로젝트 이름:</strong> <span th:text="${project.projectName}"></span></p>
    <p><strong>상태:</strong> <span th:text="${project.projectStatus}"></span></p>
    <p><strong>멤버목록:</strong>

<!--    <div th:if="${not #lists.isEmpty(member)}">-->
<!--        <ul th:each="member : ${member}">-->
<!--            멤버아이디:-->
<!--            <li th:text="${member.projectMemberPk.userId}"></li>-->
<!--            멤버이름:-->
<!--            <li th:text="${member.project.name}"></li>-->
<!--            멤버역할:-->
<!--            <li th:text="${member.role}"></li>-->
<!--        </ul>-->
<!--    </div>-->
    <p><strong>업무목록:</strong>
    <div th:if="${not #lists.isEmpty(tasks)}">
        <ul th:each="task : ${tasks}">

            <li>
                <a th:href="@{/tasks/{id}(id=${task.taskId})}" th:text="${task.taskName}"></a>
                <!-- 수정 버튼 -->
                <button th:onclick="'window.location.href=\'/tasks/task/edit/' + ${task.taskId} + '\';'">수정</button>
                <!-- 삭제 버튼 -->
                <form th:action="@{/tasks/task/{id}(id=${task.taskId})}" th:method="delete"
                      onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">삭제</button>
                </form>
            </li>
        </ul>
    </div>


</div>
<a th:href="@{/tasks/task/{projectId}(projectId=${project.projectId})}">테스크 추가</a>
<a th:href="@{/milestones/{projectId}(projectId=${project.projectId})}">마일스톤 추가</a>
<a th:href="@{/tags/{projectId}(projectId=${project.projectId})}">태그 추가</a>
<a th:href="@{/projects/{projectId}/members(projectId=${project.projectId})}">멤버 추가</a>

</body>
</html>