<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 추가</title>
</head>
<body>
<h1>프로젝트 추가</h1>
<form th:action="@{/projects/users/{userId}(userId=${userId})}" method="post">
    <label for="name">Project Name:</label>
    <input type="text" id="name" name="name">
    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="ACTIVE">Active</option>
        <option value="INACTIVE">Inactive</option>
        <option value="COMPLETED">Completed</option>
    </select>
    <button type="submit">프로젝트 추가</button>
</form>
</body>
</html>