<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마일스톤 추가</title>
</head>
<body>
<h1>마일스톤 추가하기</h1>
<form th:action="@{/milestones}" method="post">
    <label for="name">마일스톤 이름:</label>
    <input type="text" id="name" name="name">
    <label for="startDate">startdate:</label>
    <input type="text" id="startDate" name="startDate">
    <label for="dueDate">duedate:</label>
    <input type="text" id="dueDate" name="dueDate">
    <button type="submit">마일스톤 추가</button>
</form>
</body>
</html>