<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>업무 수정</title>
</head>
<body>
<h1>업무 수정하기</h1>
<form th:action="@{/projects/tasks}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" th:value="${task.id}" name="id">
    <label for="taskName">업무 이름:</label>
    <input type="text" id="taskName" name="taskName" th:value="${task.name}" required>
    <br>
    <label for="taskDescription">업무 내용:</label>
    <textarea id="taskDescription" name="taskDescription" required th:text="${task.description}"></textarea>
    <br>
    <label for="taskStatus">업무 상태:</label>
    <input type="text" id="taskStatus" name="taskStatus" th:value="${task.status}" required>
    <br>
    <button type="submit">업무 수정</button>
</form>
</body>
</html>